
      <div class="container-fluid" style="padding-left: 10px">
         <h2 id="hdr"></h2>
         <form id="myForm" class="form-inline form-search" name="myForm">
            <div panel panel-default style="width:200px;">
                <div class="panel-heading">Search for: </div>
            <input id="in" type="text" ng-model="searchTerm" class="search-query input-medium form-control" />
           </div>
                <div>
                    <div class="panel-heading">Search for: </div>
                    <select id="option" ng-model="orderProp" class="form-control">
                        <option value="volumeInfo.authors">Alphabetical by Author</option>
                        <option selected="selected" value="volumeInfo.title">Alphabetical by Title</option>
                    </select>
                </div> 
            
                 <button class="btn btn-primary" ng-click="doSearch()"> Search</button>

</form>
         <table id="resultsTbl" class="table table-striped">
            <thead>
               <tr>
                  <th></th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="item in bookResults| orderBy:orderProp">
                  <td><a ng-href="{{item.volumeInfo.infoLink}}" target="_blank"><img ng-src=
                     "{{item.volumeInfo.imageLinks.smallThumbnail}}" /></a></td>
                  <td>{{item.volumeInfo.title}}<br />
                     By: {{item.volumeInfo.authors | formatFilter}}<br />
                     Published: {{item.volumeInfo.publisher}}, {{item.volumeInfo.publishedDate |
                     dateFilter}}
                  </td>
               </tr>
            </tbody>
         </table>
      </div>
   